form {
    margin: 0 auto;
    text-align: left;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  
  input, textarea
   {
    width: 50%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-left: 300px;

  }
  
  input[type="submit"] {
    background-color: #e61e1e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #e9b4b4;
    color: black;
  }

h1{
  font-family: var(--alternative-font);
  font-size: var(--font-jumbo);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: var(--spacing-8);
  border-bottom: 5px solid var(--primary-solid);
  align-self: flex-end;
  text-align: center;
}

@media (max-width: 600px) {
  
}