<%- include('partials/header') -%>
<div class="container">
  <h1>FORMULARIO DE CONTACTO</h1>
<form method="POST" name="form" action="/contact" enctype="application/x-www-form-urlencoded">
  <label for="nombre">Nombre:</label><br />
  <input type="text" id="nombre" name="nombre" /><br />
  <label for="email">Email:</label><br />
  <input type="email" id="email" name="email" /><br />
  <label for="mensaje" id="mensaje">Mensaje:</label><br />
  <textarea id="mensaje" name="mensaje" ></textarea><br />
  <input type="submit" id="enviar "value="Enviar mensaje" />
</form>
</div>

</body>
<%- include('partials/footer') -%>
<link rel="stylesheet" href="/css/contact.css">