<%- include('../partials/header') -%>
    <!-- Inicio Main -->
    <main class="cart container">
      <h1 class="cart__title">CARRITO DE COMPRAS</h1>
      <section class="cart__detail">
        <table>
          <thead>
            <tr class="cart-detail__header">
              <th>DETALLE DE PRODUCTO</th>
              <th>CANTIDAD</th>
              <th>TOTAL</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
         </tbody>
        </table>
          <section class="container card card__content-articulo">
        <article class="articulo__content">
            <picture class="articulo__cover">
                <img src="../../img/star-wars/baby-yoda-1.webp" alt="Articulo de coleccion">
            </picture>
            <div class="articulo__informacion">
                <h4 class="articulo__titulo">BABY YODA BLUEBALL</h4>
                <p class="articulo__licencia">STAR WARS</p>
                <p class="articulo__precio">precio: $ 1799,99</p>
            </div>
        </article>
        <div class="cantidad">
            <input class="articulo__cantidad-box" id="quantity" placeholder="0">
                
            <div class="boton">
                <button id="add" class="articulo__boton_sumar">+</button>
                <button id="subtract" class="articulo__boton_restar">-</button>
            </div>
        </div>
        <div class="total">
            <div class="articulo__total-box">
                <p class="articulo__total">$ 3599,98</p>
            </div>
            <button class="articulo__icono-box">
                <iconify-icon class="articulo__icono-delete" icon="ph:x-circle-bold"></iconify-icon>
            </button>
        </div>
    </section>

    <section class="container card card__content-articulo">
        <article class="articulo__content">
            <picture class="articulo__cover">
                <img src="../../img/pokemon/pidgeotto-1.webp" alt="Articulo de coleccion">
            </picture>
            <div class="articulo__informacion">
                <h4 class="articulo__titulo">PIDGEOTTO</h4>
                <p class="articulo__licencia">POKEMON</p>
                <p class="articulo__precio">precio: $ 1799,99</p>
            </div>
        </article>
        <div class="cantidad">
            <input class="articulo__cantidad-box" id="quantity__2" placeholder="0">

            <div class="boton">
                <button id="add__2" class="articulo__boton_sumar">+</button>
                <button id="subtract__2" class="articulo__boton_restar">-</button>
            </div>
        </div>
        <div class="total">
            <div class="articulo__total-box">
                <p class="articulo__total">$ 1799,99</p>
            </div>
            <button class="articulo__icono-box">
                <iconify-icon class="articulo__icono-delete" icon="ph:x-circle-bold"></iconify-icon>
            </button>
        </div>

    </section>
      </section>
      <h1 class="cart__title">RESUMEN</h1>
      <section class="cart__sumary">
        <div class="cart-sumary__line">
          <p>CANTIDAD DE ELEMENTOS</p>
          <p>3</p>
        </div>
        <div class="cart-sumary__line">
          <p>SUBTOTAL</p>
          <p id="subTotal_price">$ 5.399,97</p>
        </div>
        <div class="cart-sumary__line">
          <p>ENVIO</p>
          <p id="send_price">$ 0,00</p>
        </div>
        <div class="cart-sumary__total">
          <p>TOTAL</p>
          <p id="total_price">$ 5.399,97</p>
        </div>
      </section>
      <button type="submit" class="cart__button">IR A PAGAR</button>
    </main>
    <!-- Fin Main -->

    <%- include('../partials/footer') -%>
    <script src="../../js/_funkoList.js"></script>
    <script src="../../js/clientCart.js"></script>
    <script type="module" src="../../js/cart.js"></script>
    <link rel="stylesheet" href="/css/cartStyle.css">
  </body>
</html>
